<p class="notice alert"><%= notice %></p>
<h1>Listing Albums</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_albums.each do |music_album| %>
  <tr>
    <td><%= link_to music_album.name, music_album_path(music_album) %></td>
    <td><%= music_album.year %></td>
    <td><%= link_to 'Show', music_album, :class => "btn btn-info"  %></td>
    <td><%= link_to 'Edit', edit_music_album_path(music_album), :class => "btn btn-success"  %></td>
    <td><%= link_to 'Destroy', music_album, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to ' Add Music album', new_music_album_path, :class => "btn btn-success  icon-plus-sign" %>
